@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/regular.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css");

@import "style-github-button.css";
@import "style-highlight.css";
@import "style-themes.css";

:root,
.light {
  --polars-logo: url("https://raw.githubusercontent.com/pola-rs/polars-static/master/logos/polars-logo-dark.svg");
}

.dark_dimmed {
  --polars-logo: url("https://raw.githubusercontent.com/pola-rs/polars-static/master/logos/polars-logo-dimmed.svg");
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

body {
  background: var(--background-color);
  color: var(--font-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1.1rem;
  line-height: 1.75em;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color);
  font-weight: normal;
}

h1 i,
h2 i,
h3 i,
h4 i,
h5 i,
h6 i {
  margin-right: 0.5rem;
}

pre {
  border: 1px solid var(--background-color-alt);
  border-radius: 5px;
  overflow: auto;
  padding: 1em;
}

.columns {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: calc(1600px - 2rem);
  height: 100%;
}

.ribbon {
  background-color: var(--background-color-alt);
}

.rust-color {
  color: var(--rust-color);
}

.theme-switcher {
  cursor: pointer;
}

nav {
  background-color: var(--background-color-alt);
  border-color: var(--background-color);
  border-style: solid;
  border-width: 0 0 1px 0;
  height: 65px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

nav .menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

nav .menu img.pl-logo {
  background-image: var(--polars-logo);
  background-repeat: no-repeat;
  background-size: auto 45px;
  cursor: pointer;
  display: block;
  height: 45px;
  padding-left: 90px;
  width: 90px;
}

nav .menu .pl-buttons i {
  font-size: 1.4rem;
}

nav .menu .pl-buttons i:not(:last-child) {
  margin-right: 1rem;
}

nav .menu .pl-buttons ul {
  background-color: var(--background-color-alt);
  border-radius: 5px;
  list-style: none;
  padding: 0;
}

nav .menu .pl-buttons ul li {
  cursor: pointer;
}

nav .menu .pl-buttons ul li a:focus,
nav .menu .pl-buttons ul li a:hover {
  text-decoration: none;
}

nav .menu .pl-buttons ul li.icon {
  margin: 0 0.5rem;
}

nav .menu .pl-buttons ul li.text {
  margin: 0 1rem;
}

nav .menu .pl-buttons > ul {
  display: flex;
  height: 100%;
}

nav .menu .pl-buttons > ul li > ul {
  display: none;
  margin-left: -1.5rem;
}

nav .menu .pl-buttons > ul li:hover > ul {
  display: block;
  line-height: 2rem;
  position: absolute;
  padding: 0.5rem;
}

nav .menu .pl-buttons > ul li > ul li {
  padding-top: 0.5rem;
}

nav .menu .pl-buttons > ul li > ul li::before {
  color: var(--rust-color);
  content: "> ";
}

header {
  margin-top: 65px; /* nav */
  margin-bottom: -65px; /* if header present, cancel top margin for the main */
  width: 100%;
}

header .pl-splash {
  align-items: center;
  background-color: var(--background-color);
  background-image: url("https://raw.githubusercontent.com/pola-rs/polars-static/master/web/ice-ice-baby.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 80%;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  min-height: 400px;
}

header .pl-splash h1 {
  font-size: 600%;
}

main {
  margin-top: 65px; /* nav */
  min-height: calc(100vh - 65px - 50px); /* full height minus nav and footer */
  width: 100%;
}

main article h1:first-child {
  padding-top: 0;
}

main article .pl-year {
  border-color: var(--background-color-alt);
  border-style: solid;
  border-width: 0 0 1px 0;
  font-size: 90%;
  padding: 1rem;
  text-transform: uppercase;
}

main article .pl-excerpt {
  margin: 1rem 0;
}

main article .pl-excerpt:first-child {
  margin-top: calc(65px + 2rem); /* nav */
}

main article .pl-excerpt:last-child {
  margin-bottom: 2rem;
}

main article .pl-excerpt h2 {
  color: var(--link-color);
}

main article .pl-excerpt > div {
  border-color: var(--background-color);
  border-style: solid;
  border-width: 0 0 0 3px;
  padding: 1rem;
}

main article .pl-excerpt > div:focus,
main article .pl-excerpt > div:hover {
  border-color: var(--rust-color);
  cursor: pointer;
}

main article .pl-post {
  padding: 1rem 15rem;
}

main section .pl-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem; /* enough top margin from the header */
}

main section .pl-details > div {
  padding: 0 1rem;
}

main section .pl-details > div:last-child {
  margin-top: 1rem;
  text-align: center;
}

main section .pl-intro {
  padding: 1rem 7rem;
}

main section .pl-code {
  padding: 1rem;
  width: 50%;
}

main section .pl-contribs {
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
}

main section .pl-contribs img {
  border-radius: 20px;
  margin: 0 5px;
  width: 40px;
}

main section .pl-sponsors {
  min-width: 33%;
  padding: 1rem;
  text-align: center;
}

footer {
  background-color: var(--background-color-alt);
  bottom: 0;
  height: 50px;
  width: 100%;
}

footer .pl-links {
  align-items: center;
  display: flex;
  font-size: 90%;
  gap: 0.3rem;
  height: 100%;
  justify-content: center;
  padding: 1rem;
}
