@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/regular.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css");

@import "style-github-button.css";
@import "style-highlight.css";
@import "style-themes.css";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

body {
  background: var(--background-color);
  color: var(--font-color);
  font-size: 1rem;
  line-height: 1.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color);
  font-weight: normal;
}

pre {
  border: 1px solid var(--background-color-alt);
  border-radius: 5px;
  overflow: auto;
  padding: 1em;
}

/*************************************************************************************/

nav > div {
  background: var(--background-color-alt);
  background-image: none;
  background-origin: content-box;
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 2.5rem;
  padding: 0.5em;
  text-align: center;
}

nav i {
  font-size: 1.4rem;
  margin: 0.4em 0 0 0;
}

nav .pure-menu.pure-menu-fixed {
  border-color: var(--background-color);
  border-style: solid;
  border-width: 0 0 1px 0;
  z-index: 4;
}

nav .pure-menu-children {
  background: var(--background-color-alt);
  border-radius: 0.2em;
}

nav a.pure-menu-horizontal,
nav a.pure-menu-link {
  border: none;
  color: var(--link-color);
  text-decoration: none;
}

nav a.pure-menu-horizontal:hover,
nav a.pure-menu-horizontal:focus,
nav a.pure-menu-link:hover,
nav a.pure-menu-link:focus {
  background: none;
  color: var(--font-color);
}

nav .theme-switcher {
  cursor: pointer;
}

nav .pure-menu-item.pure-menu-has-children {
  cursor: default;
}

nav .pure-menu-item:last-of-type {
  padding: 0 1em;
}

nav .pure-menu-children .pure-menu-item:last-of-type {
  padding: 0;
}

/*************************************************************************************/

header {
  background: var(--background-color);
  background-image: url("https://raw.githubusercontent.com/pola-rs/polars-static/master/web/ice-ice-baby.svg");
  background-position: center 150px;
  background-repeat: no-repeat;
  background-size: auto 75%;
  color: var(--font-color);
  height: 90%;
  width: 100%;
}

header > div {
  bottom: 0;
  height: 50%;
  left: 0;
  margin: auto;
  right: 0;
  text-align: center;
  top: 100px;
  width: 80%;
}

header h1 {
  font-size: 300%;
}

header h2 {
  letter-spacing: 0.1em;
}

/*************************************************************************************/

article {
  margin: 5rem 0 1rem 0;
}

/*************************************************************************************/

main {
  background: var(--background-color);
  border-color: var(--background-color-alt);
  border-style: solid;
  border-width: 1px 0 0 0;
  min-height: 10%;
  position: absolute;
  top: 90%;
  width: 100%;
  z-index: 2;
}

/*************************************************************************************/

section {
  padding: 0 1em;
}

section h1,
section h2 {
  letter-spacing: 0.1em;
}

section h1 i,
section h2 i,
section h3 i,
section h4 i,
section h5 i,
section h6 i {
  margin: 0 0.5em 0 0;
}

section.ribbon {
  background: var(--background-color-alt);
  color: var(--font-color);
}

section.ribbon h1,
section.ribbon h2,
section.ribbon h3,
section.ribbon h4,
section.ribbon h5,
section.ribbon h6 {
  color: var(--font-color);
}

section .justified {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section #contributors img {
  border-radius: 20px;
  margin: 0 5px;
  width: 40px;
}

/*************************************************************************************/

footer {
  bottom: 0;
  z-index: 4;
}

/*************************************************************************************/

@media (min-width: 48em) {
  nav > div {
    background-image: var(--polars-logo);
    padding: 0.5em 0.5em 0.5em 1em;
    text-align: left;
  }

  nav > div ul {
    float: right;
  }

  header > div {
    width: 50%;
    height: 50%;
  }

  header h1 {
    font-size: 400%;
  }
}

@media (min-width: 78em) {
  header h1 {
    font-size: 600%;
  }
}
