:root,
.light {
  --github-button-background-color: #ebf0f4;
  --github-button-background-color-alt: #e9ebef;
  --github-button-background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
  --github-button-background-image-alt: linear-gradient(180deg, #f3f4f6, #e9ebef 90%);
  --github-button-border-color: #ccd1d5;
  --github-button-border-color-alt: #caccd1;
  --github-button-font-color: #24292f;
}

.dark_dimmed {
  --github-button-background-color: #30363d;
  --github-button-background-color-alt: #3c444d;
  --github-button-background-image: linear-gradient(180deg, #373e47, #30363d 90%);
  --github-button-background-image-alt: linear-gradient(180deg, #444c56, #3c444d 90%);
  --github-button-border-color: #40464e;
  --github-button-border-color-alt: #768390;
  --github-button-font-color: #adbac7;
}

div.github-button {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 0;
  line-height: 30px;
  margin: 10px;
  overflow: hidden;
}

div.github-button:focus,
div.github-button:hover {
  border-color: var(--github-button-border-color-alt);
}

div.github-button a {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 0 15px;
}

div.github-button a,
div.github-button a:focus,
div.github-button a:hover {
  color: var(--github-button-font-color);
  text-decoration: none;
}

div.github-button a:first-child {
  background-color: var(--github-button-border-color);
  background-image: var(--github-button-background-image);
  border-color: var(--github-button-border-color);
  border-style: solid;
  border-radius: 5px 0 0 5px;
  border-width: 1px;
}

div.github-button a:first-child:focus,
div.github-button a:first-child:hover {
  background-color: var(--github-button-border-color-alt);
  background-image: var(--github-button-background-image-alt);
  border-color: var(--github-button-border-color-alt);
}

div.github-button a:first-child i {
  font-size: 16px;
  margin: 0 5px 0 0;
}

div.github-button a:last-child {
  border-color: var(--github-button-border-color);
  border-style: solid;
  border-radius: 0 5px 5px 0;
  border-width: 1px 1px 1px 0;
  color: var(--github-button-font-color);
}

div.github-button a:last-child:focus,
div.github-button a:last-child:hover {
  color: var(--link-color);
}
