:root,
.theme-dimmed {
  --bear-sliding: url("bear-sliding-dark.png");
  --bear-leaping: url("bear-leaping-dark.png");
  --bear-running-frame-0: url("bear-running-frame-0-dark.png");
  --bear-running-frame-1: url("bear-running-frame-1-dark.png");
  --bear-running-frame-2: url("bear-running-frame-2-dark.png");
  --bear-running-frame-3: url("bear-running-frame-3-dark.png");
  --bear-running-frame-4: url("bear-running-frame-4-dark.png");
  --bear-running-frame-5: url("bear-running-frame-5-dark.png");
  --bear-running-frame-6: url("bear-running-frame-6-dark.png");
  --bear-running-frame-7: url("bear-running-frame-7-dark.png");
  --hurdle-snowman: url("hurdle-snowman-dark.png");
  --hurdle-snowmen: url("hurdle-snowmen-dark.png");
  --arctic-bear: url("arctic-bear-dark.png");
  --arctic-igloo: url("arctic-igloo-dark.png");
  --arctic-igloos: url("arctic-igloos-dark.png");
  --arctic-penguin: url("arctic-penguin-dark.png");
  --arctic-penguins: url("arctic-penguins-dark.png");
  --arctic-pups: url("arctic-pups-dark.png");
  --arctic-seal: url("arctic-seal-dark.png");
  --arctic-seals: url("arctic-seals-dark.png");
  --ground-gradient: linear-gradient(
    180deg,
    rgba(112, 176, 255, 0.25) 0%,
    rgba(34, 39, 46, 0.25) 100%
  );
}

.theme-light {
  --bear-sliding: url("bear-sliding-light.png");
  --bear-leaping: url("bear-leaping-light.png");
  --bear-running-frame-0: url("bear-running-frame-0-light.png");
  --bear-running-frame-1: url("bear-running-frame-1-light.png");
  --bear-running-frame-2: url("bear-running-frame-2-light.png");
  --bear-running-frame-3: url("bear-running-frame-3-light.png");
  --bear-running-frame-4: url("bear-running-frame-4-light.png");
  --bear-running-frame-5: url("bear-running-frame-5-light.png");
  --bear-running-frame-6: url("bear-running-frame-6-light.png");
  --bear-running-frame-7: url("bear-running-frame-7-light.png");
  --hurdle-snowman: url("hurdle-snowman-light.png");
  --hurdle-snowmen: url("hurdle-snowmen-light.png");
  --arctic-bear: url("arctic-bear-light.png");
  --arctic-igloo: url("arctic-igloo-light.png");
  --arctic-igloos: url("arctic-igloos-light.png");
  --arctic-penguin: url("arctic-penguin-light.png");
  --arctic-penguins: url("arctic-penguins-light.png");
  --arctic-pups: url("arctic-pups-light.png");
  --arctic-seal: url("arctic-seal-light.png");
  --arctic-seals: url("arctic-seals-light.png");
  --ground-gradient: linear-gradient(
    180deg,
    rgba(112, 176, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
}

header {
  background-image: none;
}

.error {
  font-size: 5rem;
  opacity: 0.5;
}

.game {
  display: none;
  height: 250px;
  margin: 2em auto;
  max-width: 1500px;
  overflow: hidden;
  position: relative;
}

.caption {
  display: none;
  margin: 300px auto 0 auto;
}

.ground {
  background: var(--ground-gradient);
  border-color: #70b0ff77;
  border-style: solid;
  border-width: 1px 0 0 0;
  height: 30px;
  top: 185px;
  position: absolute;
  width: 100%;
}

#sky {
  animation: slide 120s infinite linear;
  background-image: url("arctic-sky.png");
  background-repeat: no-repeat;
  height: 65px;
  left: 90%;
  position: absolute;
  top: 10px;
  width: 150px;
}

#bear {
  animation: bear 0.8s linear infinite;
  background-repeat: no-repeat;
  height: 50px;
  left: 30px;
  position: relative;
  top: 150px;
}

@keyframes bear {
  0% {
    background-image: var(--bear-running-frame-0);
  }
  14% {
    background-image: var(--bear-running-frame-1);
  }
  29% {
    background-image: var(--bear-running-frame-2);
  }
  49% {
    background-image: var(--bear-running-frame-3);
  }
  57% {
    background-image: var(--bear-running-frame-4);
  }
  72% {
    background-image: var(--bear-running-frame-5);
  }
  86% {
    background-image: var(--bear-running-frame-6);
  }
  100% {
    background-image: var(--bear-running-frame-7);
  }
}

#bear.jump {
  animation: jump 0.8s linear;
  background-image: var(--bear-leaping);
  height: 50px;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  20% {
    top: 100px;
  }
  40% {
    top: 50px;
  }
  50% {
    top: 0px;
  }
  60% {
    top: 0px;
  }
  70% {
    top: 33px;
  }
  80% {
    top: 66px;
  }
  90% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

#hurdle {
  animation: slide 4s infinite linear;
  background-image: var(--hurdle-snowman);
  background-repeat: no-repeat;
  height: 60px;
  left: 100%;
  position: relative;
  top: 90px;
  width: 100px;
}

#stuff1 {
  animation: slide 3.8s 1.25s infinite linear;
  background-image: var(--arctic-igloo);
  background-repeat: no-repeat;
  height: 60px;
  left: 100%;
  position: absolute;
  top: 180px;
  width: 40%;
}

#stuff2 {
  animation: slide 3.8s 2.5s infinite linear;
  background-image: var(--arctic-seal);
  background-repeat: no-repeat;
  height: 60px;
  left: 100%;
  position: absolute;
  top: 180px;
  width: 40%;
}

#stuff3 {
  animation: slide 3.8s 3.75s infinite linear;
  background-image: var(--arctic-penguins);
  background-repeat: no-repeat;
  height: 60px;
  left: 100%;
  position: absolute;
  top: 180px;
  width: 40%;
}

@keyframes slide {
  0% {
    left: 100%;
  }
  100% {
    left: -100px;
  }
}

/* MEDIA QUERIES */

/* tablet (and larger) */

@media (min-width: 48em) {
  .error {
    font-size: 10rem;
    opacity: 0.25;
  }
}

/* desktop (and larger) */

@media (min-width: 78em) {
  .error {
    font-size: 20rem;
    opacity: 0.1;
  }

  .game {
    display: block;
  }

  .caption {
    display: block;
  }
}
